
@font-face {
  font-family: "untitled-font-5";
  src:url("../fonts/untitled-font-5.eot");
  src:url("../fonts/untitled-font-5.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-5.woff") format("woff"),
    url("../fonts/untitled-font-5.ttf") format("truetype"),
    url("../fonts/untitled-font-5.svg#untitled-font-5") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-5" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-5" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-16:before {
  content: "\61";
}
.icon-about:before {
  content: "\62";
}
.icon-accounting:before {
  content: "\63";
}
.icon-administrativetools:before {
  content: "\64";
}
.icon-branding:before {
  content: "\65";
}
.icon-budget:before {
  content: "\66";
}
.icon-business:before {
  content: "\67";
}
.icon-cheap:before {
  content: "\68";
}
.icon-circled-user:before {
  content: "\69";
}
.icon-collaboration:before {
  content: "\6a";
}
.icon-dashboard:before {
  content: "\6b";
}
.icon-deletebin:before {
  content: "\6c";
}
.icon-documents:before {
  content: "\6d";
}
.icon-publicsafety:before {
  content: "\6e";
}
.icon-offer:before {
  content: "\6f";
}
.icon-nook:before {
  content: "\70";
}
.icon-museum:before {
  content: "\71";
}
.icon-moreinfo:before {
  content: "\72";
}
.icon-maintenance:before {
  content: "\73";
}
.icon-info:before {
  content: "\74";
}
.icon-ideasharing:before {
  content: "\75";
}
.icon-hdd:before {
  content: "\76";
}
.icon-graphreport:before {
  content: "\77";
}
.icon-googleforms:before {
  content: "\78";
}
.icon-folderinvoices:before {
  content: "\79";
}
.icon-download:before {
  content: "\7a";
}
.icon-purchaseorder:before {
  content: "\41";
}
.icon-reportcard:before {
  content: "\42";
}
.icon-sandtimer:before {
  content: "\43";
}
.icon-securitylock:before {
  content: "\44";
}
.icon-verifiedaccount:before {
  content: "\45";
}
.icon-software:before {
  content: "\46";
}
.icon-verifiedaccount-1:before {
  content: "\47";
}

